<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is a portal where people can post the questions or bugs they are facing while working on projects. Other
  people can view your questions and answer them if they know one. Now if a reader feels that the answer was helpful
  to him/her, he/she can tipin some bitcoins to the writer. If you have some feedbacks, feel free to get in touch with us.
</p>