<div class="center jumbotron">
  <h1>Welcome to the BitAsk</h1>

  <h2>
  <%= link_to image_tag("logo.png", alt: "App logo",width: "50", height: "50"),
            'root_path' %>
    This is the home page for the
    <a href="root_path">Bit Ask</a>
    - Ask and win Bits.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

