<% provide(:title, @user.name) %>

<div class = "page-header">
      <%= gravatar_for @user %>
     <h1> Welcome <%= @user.name %>
     <div class="span6 pull-right">
    <%= link_to "Ask a new Question", ask_question_path, class: "btn btn-lg btn-primary " %></h1>
    </div>
</div>
  
        
        
<div class="container">
  <div class="jumbotron">
  <h2>Question asked by you</h2>
    </br>
      <%= render 'layouts/questions' %>
   </body>
   
</div>
</div>