
<table class="table table-striped">
  <% i = 0 %>
  <% @questions.each do |question| %>

  <tr>
    <td><%= link_to question.body, show_question_path('question_id': question.id) %></td>
    <% tags = JSON.parse(@tags[i]) %>

    <% tags.each do |tag| %>
      <td><%= tag["body"] %></td>
    <% end %>

  </tr>
  <% i=i+1 %>
  <% end %>
</table>
